.home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5% 10px;
    width: 100%;
    box-sizing: border-box;
}

.home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 900px;
    padding: 0 10px;
}


.profile {
    width: 22vw;
    max-width: 250px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-image: url("../image/Profile_picture.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 15px rgba(106, 17, 203, 0.6);
}


.info h2 {
    margin: 5px 0;
    font-size: 2.2rem;
    word-wrap: break-word;
}

.info h2 span {
    color: #ffd700;
}

.info h4 {
    margin-top: 10px;
    font-weight: 500;
    font-size: 1rem;
}


.logo {
    margin-top: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.logo a {
    font-size: 1.8rem;
    color: #F8FAFC;
    transition: color 0.3s;
}

.logo a:hover {
    color: #38ef7d;
    transform: scale(1.2);
}


@media (min-width: 1024px) {
    .profile {
        width: 20vw;
        max-width: 230px;
    }

    .info h2 {
        font-size: 2.4rem;
    }

    .info h4 {
        font-size: 1.3rem;
    }

    .logo a {
        font-size: 2rem;
    }
}


@media (max-width: 830px) {
    .profile {
        width: 28vw;
        max-width: 200px;
    }

    .info h2 {
        font-size: 2rem;
    }

    .info h4 {
        font-size: 1.2rem;
    }

    .logo a {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .profile {
        width: 40vw;
        max-width: 130px;
    }

    .info h2 {
        font-size: 1.5rem;
    }

    .info h4 {
        font-size: 0.9rem;
    }

    .logo a {
        font-size: 1.5rem;
    }
}


@media (max-width: 360px) {
    .profile {
        width: 50vw;
        max-width: 110px;
    }

    .info h2 {
        font-size: 1.3rem;
    }

    .info h4 {
        font-size: 0.8rem;
    }

    .logo a {
        font-size: 1.3rem;
    }
}


@media (max-width: 320px) {
    .profile {
        width: 55vw;
        max-width: 100px;
    }

    .info h2 {
        font-size: 1.2rem;
    }

    .info h4 {
        font-size: 0.7rem;
    }

    .logo a {
        font-size: 1.2rem;
    }
}